{% extends 'base.html.twig' %}

{% block title %}mon Panier
{% endblock %}

{% block content %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
<h1>
	Mon panier
</h1>

{% if card|length > 0 %}
<span id="title">
	<p>Retrouver l'ensemble des produits que vous avez ajouté à votre panier
	</p>
	<a   href="{{path('removefull_card')}}" class="btn btn-success">vider votre panier</a>
</span>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">image</th>
				<th scope="col">produit</th>
				<th scope="col">quantité</th>
				<th scope="col">prix</th>
				<th scope="col">Total</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>


			{% set total = null %}
			{% for product in card %}

				<tr>
					<th>
						<img src="/uploads//{{product.product.illustration}}" width="50px" alt="" srcset=""></th>
				</tr>
			</br>
		</tbody>
	</th>
	<th>{{product.product.name}}</th>
	<td>{{product.quantity}}</td>
	<td>{{(product.product.price /100)|number_format(2)}}€</td>
	<td>{{(product.product.price * product.quantity /100)|number_format(2)}}€</td>
	<th>
		<a href="{{path('delete_to_card',{'id':product.product.id})}}">
			<img src="/uploads/poubelle-de-recyclage.png" width="22px" alt="" srcset=""></br>
	</th>
</a>
</th>
</tr>{% set total = total + (product.quantity * product.product.price)%}{% endfor %}
</tbody>
</table>
<div class="text-right">
<p>nombre de produits :{{card|length}}</p>
<p>total de mon panier :{{(total /100)|number_format(2)}}€</p>
<a href="{{path('app_order')}}" class="btn btn-success btn-block">valider mon panier</a>
</div>
{% else %}
<p>Mon panier est vide</p>
{% endif %}{% endblock %}
